fastapi==0.115.4
google-api-core==2.24.0
vertexai
langchain
langchain-community
langchain-core
langchain-google-community
langchain-google-vertexai==2.0.26
langchain-openai
pillow==11.0.0
protobuf==5.28.3
pydantic==2.9.2
redis==5.1.0
requests==2.32.3
tiktoken==0.8.0
uvicorn==0.32.0
networkx==3.4.2
pandas==2.2.3
python-pptx==1.0.2
asyncio==3.4.3
pyjwt==2.9.0
python-dotenv==1.0.1
psycopg2-binary==2.9.10
anthropic
nltk==3.9.1
langchain-google-genai
pandas==2.2.3
python-pptx==1.0.2
python-docx==1.1.2
PyMuPDF==1.25.3
python-multipart==0.0.20
google-genai
pydantic[email]
unstructured==0.17.2
aiosmtplib
jinja2

